<h1 class="index-title">Add New Food</h1>

<%= form_with(model: @food, local: true) do |form| %>
  <!-- Añade tus campos de formulario aquí -->
  <div class="field">
     <%= form.text_field :name, placeholder: "Food Name", autocomplete: "name", class: 'input-with-label' %>
  </div>
  <div class="field">
    <%= form.text_field :measurement_unit, placeholder: "Measurement Unit", autocomplete: "off", class: 'input-with-label' %>
  </div>
  <div class="field">
    <%= form.number_field :price, placeholder: "Price", class: 'input-with-label' %>
  </div>
  <div class="field">
    <%= form.number_field :quantity, placeholder: "Quantity", class: 'input-with-label' %>
  </div>
  <div class="actions">
    <%= form.submit "Add Food", class: 'post-form-button' %>
  </div>
<% end %>
